# Database container settings
MYSQL_DATABASE=bible
MYSQL_USER=myuser
MYSQL_PASSWORD=mypass
MYSQL_ROOT_PASSWORD=myrootpass

# BibleStudyMan PHP settings
DB_HOST=db
DB_NAME_HOPE=bible
DB_USER_HOPE=myuser
DB_PASSWORD_HOPE=mypass
