# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# WebServer error log
error_log

# images
media

# NetBeans
/nbproject/private/

# working files
test*.php
test*.html
sqlCon.php

# Python cache
__pycache__/
*.pyc

# as the name suggests!
/ProbableJunk!/

# Environmental configuration
.env

# Local machine paths
/local_paths.json

# Generated artefacts
/build/*
!/build/tcsb-mobile/
!/build/tcsb-mobile/latest.json
!/build/tcsb-mobile/latest.sqlite
!/build/tcsb-mobile/tcsb-*.sqlite
!/build/tcsb-mobile/tcsb-*.sqlite.sha256

