/*
    Created on : 21-Jan-2018, 12:59:28
    Author     : Carl Nielsen
*/

* {
  margin: 0;
  padding: 0;
}

body {
  /* font-family: 'TrebuchetMS', 'Arial', 'Helvetica', sans-serif; */
  /* font-family: 'Averia Sans Libre', cursive; */
  font-family: 'Lato', sans-serif;

  /* border: 3px solid #773322; */
  /* border: 3px solid DarkRed; */
  border: #0d5485; /* dark blue */
  background-color: #a9dcff; /* light blue */
}

.temp{
  color: #f5c947; /* yellow */
  color: #f5ad47; /* gold */
  color: #0d5485; /* dark blue */
  color: #2e83bf; /* mid blue */
  color: #a9dcff; /* light blue */
  color: #931818; /* dark red */
}

h1 {
  font-family: 'Overlock', cursive;
  margin-top: 7px;
  font-size: 21pt;
  text-align: center;
  /* color: #773322; */
  color: #0d5485; /* dark blue */
  font-weight: 900;
}

h2 {
  font-family: 'Overlock', cursive;
  margin-top: 7px;
  font-size: 14pt;
}

h3 {
  font-family: 'Overlock', cursive;
  margin-top: 6px;
  font-size: 12pt;
}

p {
  margin-top: 7px;
  /*    margin-top: 6pt;*/
  font-size: 12pt;
}

a {
    text-decoration: none;
    /* color: #773322; */
    color: #f5c947; /* yellow */
    font-weight: bold;
}

a:hover{
    /* color: goldenrod; */
  color: #f5ad47; /* gold */
}

input[type="text"] {
    width: 140px;
}

/* centering tables */
/* html, body {
    width: 100%;
} */

table {
    margin: 0 auto;
}
/* centering tables */

table, th, td {
  padding: 3px;
  vertical-align: middle;
  text-align: center;
}

.planTable table, th, tr, td {
  padding: 3px;
  vertical-align: top;
  font-size: 10pt;

  /* background-color: PaleGoldenrod; */
}

/* .planTable tr:nth-child(even) td:nth-child(odd),
tr:nth-child(odd) td:nth-child(even){

} */

.planTable tr:nth-child(odd) {
  background-color: Tan;
}

.planTable tr:nth-child(even) {
  background-color: Khaki;
}

.planTable th:nth-child(1),
.planTable td:nth-child(1) {
  background-color: rgba(255, 0, 0, 0.3);
}

.planTable th:nth-child(2),
.planTable td:nth-child(2),
.planTable td:nth-child(3),
.planTable td:nth-child(4) {
  background-color: rgba(255, 128, 0, 0.3);
}

.planTable th:nth-child(3),
.planTable td:nth-child(5),
.planTable td:nth-child(6),
.planTable td:nth-child(7) {
  background-color: rgba(255, 255, 0, 0.3);
}

.planTable th:nth-child(4),
.planTable td:nth-child(8),
.planTable td:nth-child(9),
.planTable td:nth-child(10) {
  /* background-color: yellow; */
  background-color: rgba(0, 255, 0, 0.3);
}

.planTable th:nth-child(5),
.planTable td:nth-child(11),
.planTable td:nth-child(12),
.planTable td:nth-child(13){
  /* background-color: lime; */
  background-color: rgba(0, 255, 255, 0.3);
}

/*
.planTable th:nth-child(14),
.planTable td:nth-child(14) {
  background-color: rgba(0, 0, 255, 0.3);
}

.planTable th:nth-child(15),
.planTable td:nth-child(15) {
  background-color: rgba(255, 0, 255, 0.3);
}
 */

.planTable tr:hover {
  background-color: Gainsboro;
  background-color: plum;
}

.banner-image {
  width: 100%;
  display: block;
  padding: 0;
  /* background-size: cover; */
}

.menu {
  width: 100%;
  display: block;
  padding: 0;
}

.logo {
  font-family: 'Overlock', cursive;
  /* color: goldenrod; */
  color: #f5c947; /* yellow */
  float: left;
  padding: 17px 0 0 10px;
  font-size: 21px;
  font-weight: 900;
}

.logo a {
  text-decoration: none;
  /* font-weight: normal; */
  /* color: burlywood; */
  color: #f5c947; /* yellow */
}

.nav {
  font-family: 'Overlock', cursive;
  /* background-color: #773322; */
  /* background-color: DarkRed; */
  background-color: #0d5485; /* dark blue */

  /* color: silver; */
  color: #a9dcff; /* light blue */
  list-style: none;
  text-align: right;
  padding: 14px 7px 14px 3px;
}

.footNav {
  font-family: 'Overlock', cursive;
  text-align: center;
}

.nav li {
  display: inline-block;
  padding: 3px 3px 3px 3px;
  font-size: 14px;
  /* border: 1px solid #773322; */
  /* border: 1px solid DarkRed; */
}

.nav li a {
  text-decoration: none;
  font-weight: normal;
  /* color: silver; */
  color: #a9dcff; /* light blue */
  padding: 3px;
  /* border: 1px solid #773322; */
  /* border: 1px solid DarkRed; */
  border: 1px solid #0d5485; /* dark blue */
}

.nav li a:hover {
  /* color: #FFF0CC; */
  color: #f5c947; /* yellow */
  padding: 3px;
  /* border: 1px solid #FFF0CC; */
  border: 1px solid #f5c947; /* yellow */
}

/*
.nav li a .s1 {
    color: plum;
    border: 1px solid purple;
}

.nav li a:hover .s1 {
    color: plum;
    border: 1px solid magenta;
}
*/

.content {
  /* flex: 1; /* 0 auto; */
}

.mugshot {
  margin: 3px;
  padding: 3px;
  float: left;
  display: block;

  width: 21%;
  height: auto;

  max-width:280px;
  max-height:280px;
  min-width: 140px;
  min-width: 140px;
}

/* img.mugshot {
  max-width:280px;
  max-height:280px;
  min-width: 140px;
  min-width: 140px;
} */

.intro {
  /* border: 1px solid burlywood; */
  margin: 49px 149px 49px 149px;
  padding: 7px;
  overflow: hidden;
  /* width: 91%; */
  height: auto;
  /* max-width:1000px; */
  background-color: white;

  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;

  /* box-shadow: 3px 3px 7px grey; */
}

.signature {
  text-align: right;
  margin-right: 14px;
}

.main {
  margin: 49px 149px 49px 149px;
  padding: 7px;
  float: none;
  clear: both;
  overflow: hidden;
}

.home {
  /* border: 3px solid #773322; */
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;

  /* border: 3px solid DarkRed; */
  /* background-color: bisque; */
  background-color: white;
}

.home>a {
  color: black;
  text-decoration: none;
  font-weight: normal;
  transition: background-color .3s ease-in-out;
}

.teaching {
  border-radius: 21px;
  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  -o-border-radius: 21px;
  -ms-border-radius: 21px;
  -khtml-border-radius: 21px;

  border: 3px solid purple;
  background-color: thistle;
}

.readings {
  border-radius: 21px;
  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  -o-border-radius: 21px;
  -ms-border-radius: 21px;
  -khtml-border-radius: 21px;

  border: 3px solid darkturquoise;
  background-color: lightcyan;
}

.plan {
  border-radius: 21px;
  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  -o-border-radius: 21px;
  -ms-border-radius: 21px;
  -khtml-border-radius: 21px;

  border: 3px solid lime;
  background-color: #CCFFDD;
}

.NEWEB {
  border-radius: 21px;
  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  -o-border-radius: 21px;
  -ms-border-radius: 21px;
  -khtml-border-radius: 21px;

  border: 3px solid gold;
  background-color: lemonchiffon;
}

.subMain {
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -o-border-radius: 14px;
  -ms-border-radius: 14px;
  -khtml-border-radius: 14px;

  text-align: center;

  margin: 1%;
  padding: 1%;
  width: 96%;
  /* background-color: white; */
  background-color: #2e83bf; /* mid blue */

  /* box-shadow: 3px 3px 7px grey; */
}

.subMain h2 {
  color: white;
}

.sectGeneral {
  width: 96%;
  /* border: 3px solid #773322; */
  /* border: 3px solid DarkRed; */
  overflow: auto;
}

.sectTeach {
  float: left;
  /* border: 3px solid purple; */
  overflow: auto;

  /* border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -o-border-radius: 14px;
  -ms-border-radius: 14px;
  -khtml-border-radius: 14px; */
}

a.sectTeach:hover {
  /* background-color: thistle; */
  background-color: #f5ad47; /* gold */
}

.sectRead {
  float: right;
  /* border: 3px solid darkturquoise; */
  overflow: auto;

  /* border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -o-border-radius: 14px;
  -ms-border-radius: 14px;
  -khtml-border-radius: 14px; */
}

a.sectRead:hover {
  /* background-color: LightCyan; */
  background-color: #f5ad47; /* gold */
}

.sectPlan {
  float: left;
  /* border: 3px solid lime; */
  overflow: auto;

  /* border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -o-border-radius: 14px;
  -ms-border-radius: 14px;
  -khtml-border-radius: 14px; */
}

a.sectPlan:hover {
  /* background-color: #DDFFDD; */
  background-color: #f5ad47; /* gold */
}

.sectNEWEB {
  float: right;
  /* border: 3px solid gold; */
  overflow: auto;

  /* border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -o-border-radius: 14px;
  -ms-border-radius: 14px;
  -khtml-border-radius: 14px; */
}

a.sectNEWEB:hover {
  /* background-color: lemonchiffon; */
  background-color: #f5ad47; /* gold */
}

.readmore {
  text-align: center;
}

.searchTable td {
  font-size: smaller;
}

.media {
  float: left;
  border: 3px solid darkturquoise;
  margin: 1px;
}

.footer {
  /* background-color: #773322; */
  /* background-color: DarkRed; */
  background-color: #0d5485; /* dark blue */

  /* color: silver; */
  color: #a9dcff; /* light blue */

  list-style: none;
  text-align: center;
  padding: 14px 0 14px 0;
  /* flex-shrink: 0; */
  /* height: 100px;
  margin-top: -100px; */
  /* position: fixed;
  width: 100%;
  bottom: 0; */
}

.footer a {
  text-decoration: none;
  font-weight: normal;
  /* color: silver; */
  color: #f5c947; /* yellow */
}

.footer a:hover {
  /* color: #FFF0CC; */
  background-color: #f5ad47; /* gold */
    color: #f5ad47; /* gold */
}

.bibleText {
  line-height: 1.4;
}
