#controlPanel {
    transition: all 0.3s ease-in-out;
    position: fixed;
    top: 30%;
    left: 2%;
    width: 300px;
    height: 300px;
    z-index: 3;
    border: 7px solid #ffff94;
    border-radius: 14px;
    background-color: #fff;
    overflow: hidden;
    filter: drop-shadow(7px 7px 7px #00000077);
}

#controlPanel.collapsed {
    width: 50px;
    height: 50px;
    top:3%
}

#panelToggle {
    position: absolute;
    top: 1px;
    right: 1px;
    cursor: pointer;
    background: #ffff94;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: "Londrina Solid", sans-serif;
    font-weight: 900;
    font-size: 18px;
}
