#controlPanel {
    transition: all 0.3s ease-in-out;
    position: fixed;
    /* top: 3%; */
    /* top: 1rem; */
    top: 14px;
    /* left: 2%; */
    /* left: 1rem; */
    left: 0;
    right: 0;
    margin: 0% auto;
    width: 270px;
    height: 320px;
    z-index: 7;
    border: 7px solid #ffff94;
    border-radius: 14px;
    background-color: #fff;
    overflow: hidden;
    filter: drop-shadow(7px 7px 7px #00000077);
}

#controlPanel.collapsed {
    width: 50px;
    height: 50px;
    /* margin: 0%; */
}

#panelToggle {
    position: absolute;
    top: 1px;
    right: 1px;
    cursor: pointer;
    background: #ffff94;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: "Londrina Solid", sans-serif;
    font-weight: 900;
    font-size: 18px;
}

.bibleNavLeft, .bibleNavRight {
    position: absolute;
    top: 100%;
    background-color: #22101BCC;
    backdrop-filter: blur(3px);
    padding: 3px;
}
.bibleNavLeft {
    left: 0;
    border-radius: 0 0 8px 0;
}

.bibleNavRight {
    right: 0;
    border-radius: 0 0 0 8px;
}
