#controlPanel {
    transition: all 0.3s ease-in-out;
    position: fixed;
    top: 180px;
    left: 0;
    right: 0;
    margin: 0% auto;
    width: 270px;
    height: 320px;
    z-index: 7;
    border-radius: 0 0 14px 14px;
  /* background-color: #4F3F49; /* original */
    background-color: #22101BCC; /* try to match original but with transparency */
    color: antiquewhite;
    overflow: hidden;
    filter: drop-shadow(7px 7px 7px #00000077);
}

#controlPanel.collapsed {
    width: 0;
    height: 0;
    visibility: hidden;
}
