#controlPanel {
    transition: all 0.3s ease-in-out;
    position: fixed;
    top: 220px;
    left: 0;
    width: 400px;
    height: 300px;
    z-index: 3;
    border: 7px solid #ffff94;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border-left: none;
    background-color: #fff;
    overflow: hidden;
}

#controlPanel.collapsed {
    left: -370px;
}

#panelToggle {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    padding: 8px;
    background: #ffff94;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: "Londrina Solid", sans-serif;
    font-weight: 900;
    font-size: 18px;
}
