/*
    Created on : 21-Jan-2018, 12:59:28
    Author     : Carl Nielsen
*/

* {
  margin: 0;
  padding: 0;
}

body {
  /* font-family: 'TrebuchetMS', 'Arial', 'Helvetica', sans-serif; */
  /* font-family: 'Averia Sans Libre', cursive; */
  font-family: 'Lato', sans-serif;

  /* border: 3px solid #773322; */
  border: 3px solid #4F3F49;
}

h1 {
  font-family: 'Londrina Solid', sans-serif;
  /* font-family: 'Overlock', cursive; */
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 21pt;
  text-align: center;
  /* color: #773322; */
  color: #4F3F49;
}

h2 {
  font-family: 'Londrina Solid', sans-serif;
  /* font-family: 'Overlock', cursive; */
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 16pt;
  text-align: center;
  color: #4F3F49;
}

h3 {
  /* font-family: 'Londrina Solid', sans-serif; */
  font-family: 'Lato', sans-serif;
  margin-top: 6px;
  margin-bottom: 5px;
  font-size: 14pt;
}

p {
  margin-top: 14pt;
  font-size: 12pt;
}

ol, ul {
  /* margin-left: 7pt; */
  padding-left: 0;
  list-style-position: inside;
}

a {
    text-decoration: none;
    /* color: DarkOrange; */
    color: navy;
    font-weight: bold;
}

a:hover {
    /* color: goldenrod; */
    /* color: orange; */
    color: purple;
}

sup {
  font-size: smaller;
  vertical-align:super;
  font-weight: bold;
}

sub {
  font-size: smaller;
  vertical-align:sub;
  /* font-weight: bold; */
}

select{
  margin: 3px auto 3px auto;
  padding: 1px 3px;
}
input{
  margin: 7px;
}

input:focus{
  /* outline: 1px solid #fc9; */
  outline: none;
  /* outline-offset: 2px; */
  /* box-shadow: 1px 1px 3px #fc9,  -1px 1px 3px #fc9,  -1px -1px 3px #fc9,  1px -1px 3px #fc9; */
  box-shadow: 0 0 7px 7px rgb(255, 200, 0);
  box-shadow: 0 0 7px 7px rgba(255, 200, 0, .2);
}

input[type="text"] {
    width: 133px;
}

input[type="number"] {
    width: 49px;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"]::-webkit-file-upload-button,
button{
    align-items: flex-start;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    margin: 3px auto 3px auto;
  /* margin: 7px 14px 7px 14px; */
    /* padding: 2px 6px 3px; */
    padding: 1px 3px;
    border-width: 1px;
    background: #ccc;
    border-style: outset;
    border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -o-border-radius: 3px;
      -ms-border-radius: 3px;
      -khtml-border-radius: 3px;
    box-shadow: 1px 1px 3px #4F3F49;

}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="file"]::-webkit-file-upload-button:hover,
button:hover
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="file"]::-webkit-file-upload-button:focus,
button:focus
{
    outline: none;
    background: #eee;
    /* font-weight: bold; */
}

input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="file"]::-webkit-file-upload-button:focus,
button:focus
{
  /* outline: 3px solid #fc9; */
  /* box-shadow: 3px 3px 7px #fc9,  -3px 3px 7px #fc9,  -3px -3px 7px #fc9,  3px -3px 7px #fc9; */
  box-shadow: 0 0 7px 7px rgb(255, 200, 0);
  box-shadow: 0 0 7px 7px rgba(255, 200, 0, .2);
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="file"]::-webkit-file-upload-button:active,
button:active {
  transform: scale(0.99);
  box-shadow: none;
}

/* input[type="button"], input[type="submit"], input[type="reset"] {
    -webkit-appearance: push-button;
    user-select: none;
    white-space: pre;
} */

/* button, input[type="button"]  {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  -khtml-appearance: none;
  box-shadow: 3px 3px 7px #4F3F49;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
} */

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.center {
  /* border: solid 1px red; */
  width: 170px;
  display: block;
  margin: 0 auto;
}

.centerText {
  text-align: center;
}

.small-caps {
  font-variant: small-caps;
}

/* centering tables */
/* html, body {
    width: 100%;
} */

table {
    margin: 0 auto;
}
/* centering tables */

table, th, td {
  padding: 3px;
  vertical-align: middle;
  text-align: center;
}

.planTable table, th, tr, td {
  padding: 3px;
  vertical-align: top;
  font-size: 10pt;

  /* background-color: PaleGoldenrod; */
}

/* .planTable tr:nth-child(even) td:nth-child(odd),
tr:nth-child(odd) td:nth-child(even){

} */

.planTable tr:nth-child(odd) {
  background-color: Khaki;
  /* background-color: Gainsboro; */
}

.planTable tr:nth-child(even) {
  background-color: Tan;
  /* background-color: Silver; */
}

.planTable th:nth-child(1),
.planTable td:nth-child(1) {
  background-color: rgba(255, 0, 0, 0.3);
}

.planTable th:nth-child(2),
.planTable td:nth-child(2) {
  background-color: rgba(255, 128, 0, 0.3);
}

.planTable th:nth-child(3),
.planTable td:nth-child(3) {
  background-color: rgba(255, 255, 0, 0.3);
}

.planTable th:nth-child(4),
.planTable td:nth-child(4) {
  /* background-color: yellow; */
  background-color: rgba(0, 255, 0, 0.3);
}

.planTable th:nth-child(5),
.planTable td:nth-child(5) {
  /* background-color: lime; */
  background-color: rgba(0, 255, 255, 0.3);
}

.planTable th:nth-child(6),
.planTable td:nth-child(6) {
  background-color: rgba(0, 127, 255, 0.3);
}


.planTable th:nth-child(7),
.planTable td:nth-child(7) {
  background-color: rgba(255, 0, 255, 0.3);
}

.planTable tr:hover {
  /* background-color: Gainsboro; */
  background-color: plum;
}

.banner-image {
  width: 100%;
  display: block;
  padding: 0;
  /* background-size: cover; */
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  padding: 1% 0;
  /* background-color: #4F3F49; /* original */
  background-color: #22101BCC; /* try to match original but with transparency */
  position: sticky;
  top: 0;
  z-index: 1;

  transition: box-shadow 0.3s ease-in-out;
  backdrop-filter: blur(3px);
}

/* Add subtle shadow when menu is sticky */
.menu.sticky {
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo {
  height: 50px;
  object-fit: contain;
  padding: 0 0 0 14px;
}

.nav {
  color: Gainsboro;
  list-style: none;
  text-align: right;
  padding: 14px 7px 14px 3px;
}

.bible-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
    width: 100%;
    position: relative;
}

.bibleNavLeft, .bibleNavRight, .bibleNavMiddle  {
    position: absolute;
    top: 100%;
    background-color: #22101BCC;
    backdrop-filter: blur(3px);
    padding: 3px;
}

.bibleNavMiddle {
    left: 0;
    right: 0;
    width: 240px;
    margin: 0 auto;
    border-radius: 0 0 8px 8px;
    color:#FFF0CC;
}

.bibleNavLeft {
    left: 0;
    border-radius: 0 0 8px 0;
}

.bibleNavRight {
    right: 0;
    border-radius: 0 0 0 8px;
}

.footNav {
  font-family: 'Londrina Solid', sans-serif;
  text-align: center;
}

.nav li {
  display: inline-block;
  /* padding: 3px; */
  /* font-size: 14px;*/
}

@media (min-width: 800px) {
  .nav li {
    font-size: 18px;
  }
}

.nav li a {
  text-decoration: none;
  font-weight: normal;
  color: Gainsboro;
  margin: 2px;
  padding: 1px;
  border: 1px solid #4F3F4900;
}

.nav li a:hover {
  color: #FFF0CC;
  /* padding: 3px; */
  border: 1px solid #FFF0CC;
  border-radius: 7px;
}
