/*
    Created on : 21-Jan-2018, 12:59:28
    Author     : Carl Nielsen
*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  border: 3px solid #4F3F49;
}

h1 {
  font-family: 'Londrina Solid', sans-serif;
  /* font-family: 'Overlock', cursive; */
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 21pt;
  text-align: center;
  color: #4F3F49;
}

h2 {
  font-family: 'Londrina Solid', sans-serif;
  /* font-family: 'Overlock', cursive; */
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 16pt;
  text-align: center;
  color: #4F3F49;
}

h3 {
  /* font-family: 'Londrina Solid', sans-serif; */
  font-family: 'Lato', sans-serif;
  margin-top: 6px;
  margin-bottom: 5px;
  font-size: 14pt;
}

p {
  margin-top: 14pt;
  font-size: 12pt;
}

ol, ul {
  padding-left: 0;
  list-style-position: inside;
}

a {
    text-decoration: none;
    color: navy;
    font-weight: bold;
}

a:hover {
    color: purple;
}

sup {
  font-size: smaller;
  vertical-align:super;
  font-weight: bold;
}

sub {
  font-size: smaller;
  vertical-align:sub;
}

.center {
  /* border: solid 1px red; */
  width: 170px;
  display: block;
  margin: 0 auto;
}

.centerText {
  text-align: center;
}

.small-caps {
  font-variant: small-caps;
}

