/*
    Created on : 21-Jan-2018, 12:59:28
    Author     : Carl Nielsen
*/

:root {
  --bg: white;
  --text: black;
  --anchor: #000080;
  --anchorHover: #800080;
  --heading: #4F3F49;
  --teaching: #9494ff;
  --teachingL: #ddddff;
  --readings: #94ffff;
  --readingsL: #ddddff;
  --plan: #94ff94;
  --planL: #ddffdd;
  --Bible: #ffff94;
  --BibleL: #ffffdd;

  --border: #4F3F49;

}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #100f10;
    --text: #fff6e5;
    --anchor: #80a0ff;
    --anchorHover: #aa00aa;
    /* --heading: #dbcfdb; */
    /* --teaching: #291f41;
    --teachingL: #514769;
    --readings: #294141;
    --readingsL: #516969;
    --plan: #294129;
    --planL: #516951;
    --Bible: #967300;
    --BibleL: #a78000;
    --BibleL: #967300aa; */
  }
}

body {
  background: var(--bg);
  color: var(--text);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  border: 3px solid var(--heading);
}

h1 {
  font-family: 'Londrina Solid', sans-serif;
  /* font-family: 'Overlock', cursive; */
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 21pt;
  text-align: center;
  color: var(--heading);
}

h2 {
  font-family: 'Londrina Solid', sans-serif;
  /* font-family: 'Overlock', cursive; */
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 16pt;
  text-align: center;
  color: var(--heading);
}

h3 {
  /* font-family: 'Londrina Solid', sans-serif; */
  font-family: 'Lato', sans-serif;
  margin-top: 6px;
  margin-bottom: 5px;
  font-size: 14pt;
}

p {
  margin-top: 14pt;
  font-size: 12pt;
}

ol, ul {
  padding-left: 0;
  list-style-position: inside;
}

a {
    text-decoration: none;
    color: var(--anchor);
    font-weight: bold;
}

a:hover {
    color: var(--anchorHover);
}

sup {
  font-size: smaller;
  vertical-align:super;
  font-weight: bold;
}

sub {
  font-size: smaller;
  vertical-align:sub;
}

.center {
  /* border: solid 1px red; */
  width: 170px;
  display: block;
  margin: 0 auto;
}

.centerText {
  text-align: center;
}

.small-caps {
  font-variant: small-caps;
}

