.banner-image {
  width: 100%;
  display: block;
  padding: 0;
  /* background-size: cover; */
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
  z-index: 1;
  position: sticky;
  transition: box-shadow 0.3s ease-in-out;
}

.menu, #controlPanel {
  /* background-color: #4F3F49; /* original */
  background-color: #22101BCC; /* try to match original but with transparency */
  backdrop-filter: blur(3px);
}

/* Add subtle shadow when menu is sticky */
.menu.sticky {
  box-shadow: 0 2px 4px rgba(0,0,0,0.71);
}

.logo {
  height: 50px;
  object-fit: contain;
  padding: 0 0 0 14px;
}

.nav {
  color: antiquewhite;
  list-style: none;
  text-align: right;
  padding: 14px 7px 14px 3px;
}

.bibleNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  border-top: antiquewhite solid 1px;
  color:antiquewhite;
}

.bibleNavMiddle {
  margin: 0 auto;
  color:antiquewhite;
}

.bibleNavLeft {
  color:antiquewhite;
}

.bibleNavRight {
  color:antiquewhite;
}

#controlPanel {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 270px;
    max-height: 500px; /* Adjust as needed */
    z-index: 7;
    border-radius: 0 0 14px 14px;
    color: antiquewhite;
    overflow: hidden;
    filter: drop-shadow(7px 7px 7px #00000077);
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

#controlPanel.collapsed {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
}

#searchSection, #wordsSection {
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    overflow: hidden;
    max-height: 400px;
}

#searchSection.collapsed, #wordsSection.collapsed {
    max-height: 0;
    opacity: 0;
}

#searchSection:not(.collapsed) ~ #wordsSection:not(.collapsed) {
    border-top: 1px solid #ffffff33;
}

.footNav {
  font-family: 'Londrina Solid', sans-serif;
  text-align: center;
}

.mainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 14px;
}

.nav li {
  display: inline-block;
  /* padding: 3px; */
  /* font-size: 14px;*/
}

@media (min-width: 800px) {
  .nav li {
    font-size: 18px;
  }
}

.nav li a {
  text-decoration: none;
  font-weight: normal;
  color: antiquewhite;
  margin: 2px;
  padding: 1px;
  border: 1px solid #4F3F4900;
}

.nav li a:hover {
  color: antiquewhite;
  /* padding: 3px; */
  border: 1px solid antiquewhite;
  border-radius: 7px;
}
