.banner-image {
  width: 100%;
  display: block;
  padding: 0;
  /* background-size: cover; */
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  padding: 1% 0;
  /* background-color: #4F3F49; /* original */
  background-color: #22101BCC; /* try to match original but with transparency */
  position: sticky;
  top: 0;
  z-index: 1;

  transition: box-shadow 0.3s ease-in-out;
  backdrop-filter: blur(3px);
}

/* Add subtle shadow when menu is sticky */
.menu.sticky {
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo {
  height: 50px;
  object-fit: contain;
  padding: 0 0 0 14px;
}

.nav {
  color: Gainsboro;
  list-style: none;
  text-align: right;
  padding: 14px 7px 14px 3px;
}

.bible-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
    width: 100%;
    position: relative;
}

.bibleNavLeft, .bibleNavRight, .bibleNavMiddle  {
    position: absolute;
    top: 100%;
    background-color: #22101BCC;
    backdrop-filter: blur(3px);
    padding: 3px;
}

.bibleNavMiddle {
    left: 0;
    right: 0;
    width: 240px;
    margin: 0 auto;
    border-radius: 0 0 8px 8px;
    color:#FFF0CC;
}

.bibleNavLeft {
    left: 0;
    border-radius: 0 0 8px 0;
}

.bibleNavRight {
    right: 0;
    border-radius: 0 0 0 8px;
}

.footNav {
  font-family: 'Londrina Solid', sans-serif;
  text-align: center;
}

.nav li {
  display: inline-block;
  /* padding: 3px; */
  /* font-size: 14px;*/
}

@media (min-width: 800px) {
  .nav li {
    font-size: 18px;
  }
}

.nav li a {
  text-decoration: none;
  font-weight: normal;
  color: Gainsboro;
  margin: 2px;
  padding: 1px;
  border: 1px solid #4F3F4900;
}

.nav li a:hover {
  color: #FFF0CC;
  /* padding: 3px; */
  border: 1px solid #FFF0CC;
  border-radius: 7px;
}
