        .toc h3 {
            margin-bottom: 0.25rem
        }

        ul {
            margin-top: 0.25rem
        }

        hr {
            border: none;
            border-top: 1px solid #ddd;
            margin: 2rem 0
        }

        .card {
            padding: 1rem 1.25rem;
            border: 1px solid #eee;
            border-radius: 12px;
            margin: 1rem 0;
            background: #fff;
            filter: drop-shadow(3px 3px 3px #00000022);
        }

        .muted {
            color: #666
        }
