/*
    Created on : 14-May-2018
    Author     : Carl Nielsen
*/

.content {
  /* flex: 1 0 auto; */
  /* height: 100%; */
  min-height: 1000px;
  /* height: 1090px; */
  /* overflow: hidden; */
}

.mugshot {
  margin: 3px;
  padding: 3px;
  float: left;
  display: block;

  width: 21%;
  height: auto;

  max-width:280px;
  max-height:280px;
  min-width: 140px;
  min-height: 140px;
}

/* img.mugshot {
  max-width:280px;
  max-height:280px;
  min-width: 140px;
  min-width: 140px;
} */

.intro {
  clear: both;
  margin: auto;
  padding: 7px;
  overflow: hidden;
  width: 91%;
  height: auto;
  max-width:1000px;
  /* background-color: PapayaWhip; */
  /* box-shadow: 3px 3px 7px #4F3F49; */
}

.frameborder{
  margin: 14px;
  padding: 14px;
  border: 1px solid burlywood;
  font-size: 14pt;

  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -o-border-radius: 14px;
  -ms-border-radius: 14px;
  -khtml-border-radius: 14px;
  background: linear-gradient(90deg, SkyBlue, Lavender, SkyBlue);
}

.signature {
  text-align: right;
  margin-right: 14px;
}

.main {
  margin: 1%;
  padding: 1%;
  float: none;
  clear: both;
  overflow: visible;
  height: 80%;

  border-radius: 21px;
  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  -o-border-radius: 21px;
  -ms-border-radius: 21px;
  -khtml-border-radius: 21px;
}

.footer {
  /* background-color: #773322; */
  background-color: #4F3F49;
  color: Gainsboro;
  list-style: none;
  text-align: center;
  padding: 14px 0 14px 0;
  /* flex-shrink: 0; */
  height: 100px;
  /* margin-top: -100px; */
  /* position: fixed; */
  /* width: 100%; */
  /* bottom: 0; */
  /* position: absolute; */
}

.footer a {
  text-decoration: none;
  font-weight: normal;
  color: Gainsboro;
}

.footer a:hover {
  color: #FFF0CC;
}

.bibleText {
  line-height: 1.7;

         column-count: 5;
 -webkit-column-count: 5;
    -moz-column-count: 5;
      -o-column-count: 5;
     -ms-column-count: 5;
  -khtml-column-count: 5;
  
         column-width: 400px;
 -webkit-column-width: 400px;
    -moz-column-width: 400px;
      -o-column-width: 400px;
     -ms-column-width: 400px;
  -khtml-column-width: 400px;

           column-gap: 35px;
   -webkit-column-gap: 35px;
      -moz-column-gap: 35px;
        -o-column-gap: 35px;
       -ms-column-gap: 35px;
    -khtml-column-gap: 35px;
      
          column-rule: 1px dotted #aaa;
  -webkit-column-rule: 1px dotted #aaa;
     -moz-column-rule: 1px dotted #aaa;
       -o-column-rule: 1px dotted #aaa;
      -ms-column-rule: 1px dotted #aaa;
   -khtml-column-rule: 1px dotted #aaa;
}

.bibleText h3 {
  column-span: all;
  border-top: 3pt solid #aaa;
  border-bottom: 1pt solid #aaa;
  margin-top: 21pt;
}

.bibleText p {
  text-indent: 28pt;
  text-align: justify;
}

.spanAll p {
  column-span: all;
}

.media {
  float: left;
  border: 1px solid #4F3F49;
  margin: 1px;
}

.home {
  /* border: 3px solid #773322; */
  border: 3px solid #4F3F49;
  /* background-color: bisque; */
  background-color: Gainsboro;
  overflow: hidden;
}

.home>a {
  color: black;
  text-decoration: none;
  font-weight: normal;
}

.subMain {
  margin: 1%;
  padding: 1%;
  width: 84%;
  overflow: auto;

  background-color: white;

  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -o-border-radius: 14px;
  -ms-border-radius: 14px;
  -khtml-border-radius: 14px;

  /* -webkit-box-shadow: 3px 3px 7px #4F3F49;   */
  /* box-shadow: 3px 3px 7px #4F3F49; */
}

.subMain:nth-child(odd) {
  float: right;
}

.collapse {
  display: none;
  /* height: 0; */
  height: auto;
  /* background-color: white; */
  /* transition: height 3s ease-in-out; */
}

.plain {
  border: 3px solid #4F3F49;
  background-color: white;
}

.teaching {
  border: 3px solid #4a4ab5;
  background-color: #9494ff;
  overflow: hidden;
}

.readings {
  border: 3px solid #4ab5b5;
  background-color: #94ffff;
}

.highlightWord {
  background-color: #ffff0077;
}

.highlightVerse {
  background-color: #ffcccc;
}

.highlightOW{
  background-color: #7700ff55;
}

.plan {
  border: 3px solid #4ab54a;
  background-color: #94ff94;
}

.Bible {
  border: 3px solid #b5b54a;
  background-color: #ffff94;
}

.sectGeneral {
  width: 97%;
  margin: auto;
  /* border: 3px solid #773322; */
  border: 3px solid #4F3F49;
}

.infoBox {
  border:solid white 7px;
  width:280px;
  padding:auto;
  margin:auto;
  -webkit-box-shadow: 7px 7px 7px 7px rgba(0,0,0,0.3);
  box-shadow: 7px 7px 7px 7px rgba(0,0,0,0.3);
}
.searchTable {
  background: #EEEEDD;
  border: 3px solid #FF0000;
  margin-top: 21px;
}
.searchTable td {
  /* font-size: smaller; */
  border: 3px solid #DDDDCC;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  /* padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffff94;
  background-color: rgba(255, 255, 148, 0.3);
}
