/*
    Created on : 14-May-2018
    Author     : Carl Nielsen
*/

.content {
  flex: 1 0 auto;
  /* height: 100%; */
  /* overflow: hidden; */

  /* min-height: 1000px; */
  /* height: 1090px; */
}

.mugshot {
  margin: 3px;
  padding: 3px;
  float: left;
  display: block;

  width: 21%;
  height: auto;

  max-width:280px;
  max-height:280px;
  min-width: 140px;
  min-height: 140px;
}

.intro {
  clear: both;
  margin: auto;
  padding: 7px;
  overflow: hidden;
  width: 91%;
  height: auto;
  max-width:1000px;
}

.frameborder{
  margin: 14px;
  padding: 14px;
  border: 1px solid burlywood;
  font-size: 14pt;

  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -o-border-radius: 14px;
  -ms-border-radius: 14px;
  -khtml-border-radius: 14px;
  background: linear-gradient(90deg, SkyBlue, Lavender, SkyBlue);
}

.signature {
  text-align: right;
  margin-right: 14px;
}

.main {
  margin: 0;
  padding: 0;
  float: none;
  clear: both;
  overflow: visible;
  /* min-height: 590px; */
}

.footer {
  background-color: #4F3F49;
  color: antiquewhite;
  list-style: none;
  text-align: center;
  padding: 14px 0 14px 0;
}

.footer a {
  text-decoration: none;
  font-weight: normal;
  color: antiquewhite;
}

.footer a:hover {
  color: #FFF0CC;
}

.bibleText {
  line-height: 1.7;

         column-count: 5;
 -webkit-column-count: 5;
    -moz-column-count: 5;
      -o-column-count: 5;
     -ms-column-count: 5;
  -khtml-column-count: 5;
  
         column-width: 400px;
 -webkit-column-width: 400px;
    -moz-column-width: 400px;
      -o-column-width: 400px;
     -ms-column-width: 400px;
  -khtml-column-width: 400px;

           column-gap: 35px;
   -webkit-column-gap: 35px;
      -moz-column-gap: 35px;
        -o-column-gap: 35px;
       -ms-column-gap: 35px;
    -khtml-column-gap: 35px;
      
          column-rule: 1px dotted #aaa;
  -webkit-column-rule: 1px dotted #aaa;
     -moz-column-rule: 1px dotted #aaa;
       -o-column-rule: 1px dotted #aaa;
      -ms-column-rule: 1px dotted #aaa;
   -khtml-column-rule: 1px dotted #aaa;
}

.bibleText h3 {
  column-span: all;
  border-top: 3pt solid #aaa;
  border-bottom: 1pt solid #aaa;
  margin-top: 21pt;
}

.bibleText p {
  text-indent: 28pt;
  text-align: justify;
}

.spanAll p {
  column-span: all;
}

.media {
  float: left;
  border: 1px solid #4F3F49;
  margin: 1px;
}

.home {
  background-color: antiquewhite;
  overflow: hidden;
  padding: 1%;
  display: grid;
}

.home>a {
  color: black;
  text-decoration: none;
  font-weight: normal;
}

.subMain {
  max-width: 1200px;
  margin: 1% auto;
  padding: 1%;
  display: table;
  background-color: white;
  border-radius: 14px;
  box-shadow: 3px 3px 7px #4F3F49;
}

.plain {
  border: 3px solid #4F3F49;
  background-color: white;
}

.highlightWord {
  background-color: #ffdd0050;
}

.highlightOW{
  background-color: #7700ff30;
}

.highlightVerse {
  background-color: #00ff0030;
}  

.teaching {
  /* border: 3px solid #4a4ab5; */
  background-color: #9494ff;
  background: linear-gradient(#9494ff,  #ddddff);
  padding: 10px;
  overflow: hidden;
}

.readings {
  /* border: 3px solid #4ab5b5; */
  background-color: #94ffff;
  background: linear-gradient(#94ffff,  #ddffff);
  padding: 10px;
}

.plan {
  /* border: 3px solid #4ab54a; */
  background-color: #94ff94;
  background: linear-gradient(#94ff94,  #ddffdd);
  padding: 10px;
}

.Bible {
  /* border: 3px solid #b5b54a; */
  background-color: #ffff94;
  background: linear-gradient(#ffff94,  #ffffdd);
  padding: 10px;
}

.sectGeneral {
  width: 97%;
  margin: auto;
  /* border: 3px solid #773322; */
  border: 3px solid #4F3F49;
}

.infoBox {
  border:solid white 7px;
  width:280px;
  padding:auto;
  margin:auto;
  -webkit-box-shadow: 7px 7px 7px 7px rgba(0,0,0,0.3);
  box-shadow: 7px 7px 7px 7px rgba(0,0,0,0.3);
}

.searchTable {
  background: #EEEEDD;
  border: 3px solid #FF0000;
  margin-top: 21px;
}

.searchTable td {
  /* font-size: smaller; */
  border: 3px solid #DDDDCC;
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: #ffff94;
  background-color: rgba(255, 255, 148, 0.3);
}
