/* .Bible {
  background: #94ff94;
  background: linear-gradient(#94ff94,  #ddffdd);
  padding: 10px;
}

.plan {
  background: #ffff94;
  background: linear-gradient(#ffff94,  #ffffdd);
  padding: 10px;
} */

.bibleNav button {
  padding: 7px;
}

.TCSB {
  /* background: #bd94ff; */
  background: #443656;
  /* background: linear-gradient(#bd94ff,  #ecddff); */
  background: linear-gradient(#5b4677,  #997bbe);
  padding: 14px;
}

.TCSB h1{
  color: #fff6c8;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu, #controlPanel, .footer {
  /* background-color: #302342; /* original */
  background-color: #12002dcc; /* matches original but with transparency over white */
}

#waitOverlay {
  background: rgb(210 148 255 / 30%);
}

/* .logo {
  height: auto;
} */

.panelStageSection {
  overflow: hidden;
  transition: max-height 0.25s ease, opacity 0.25s ease, padding 0.25s ease;
  max-height: 1000px;
  opacity: 1;
}

.panelStageSection.collapsed {
  max-height: 0;
  opacity: 0;
  padding: 7px 0 0 0;
  margin: 0 auto;
}

#prefsSection{
  border-radius: 7px;
}

#controlPanel .searchTable {
  border-collapse: collapse;
}

input {
    accent-color: #04a4af;
}

input[type="button"] input[type="submit"] {
    padding: 3px;
    margin: 3px;
} 

.dayButton {
  width: 23px;
}